/*
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#container{
  width: 84%;
  max-width: 1280px;
  min-width: 512px;
  margin: 0 auto;
}
*/

header {
   position:relative;
   height: 8rem;
   /*background: #38b48b;*/
 	background-size: 20px 20px;
 	background-color: #38b48b;
 	background-image:
 	linear-gradient(45deg, rgba(56, 142, 60, 0.5) 25%, transparent 25%,
 	 transparent 50%, rgba(56, 142, 60, 0.5) 50%, rgba(56, 142, 60, 0.5) 75%,
 	 transparent 75%, transparent),
 	linear-gradient(-45deg, rgba(56, 142, 60, 0.5) 25%, transparent 25%,
 	 transparent 50%, rgba(56, 142, 60, 0.5) 50%, rgba(56, 142, 60, 0.5) 75%,
 	 transparent 75%, transparent);
 }

  header h1{
    position: absolute;
    top: 3rem;
    left: 3rem;
    font-size: 2rem;
    color: black;
  }

nav {
  padding: 1rem 3rem ;
  background: #006e54;
}

  nav ul{
    display: flex;
    flex-direction: row;
  }

  nav ul li{
    margin-right: 2rem;
  }

  nav ul li a {
    color: white;
  }

main{
  display: flex;
  flex-direction: row;
}

  section{
    flex: 3;
    padding: 3rem;
    background: #93ca76;
  }

    /*article{
      min-height: 8rem;
      padding: 1rem;
      margin-bottom: 2rem;
      background: #FFF;
    }*/
    article{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #000000;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.box2 p {
    margin: 0;
    padding: 0;
}
  aside{
    flex: 1;
    padding: 3rem;
    background: #93ca76;
  }

footer {
  padding: 2rem 3rem;
  text-align: center;
  background: #333;
  color: white;
}
